@charset "UTF-8";
/* Board.css
 *	
 * made by doorisopen
 */


a {
	text-decoration: none;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: blue; text-decoration: none;}

.paginationBox {
	display: inline-block;
}
.pagination {
	list-style: none;
	padding: 0px;
}

.page-item {
	float: left;
	margin: 5px;
}

.replyItem {
	margin-left: 10px;
}


.reply {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.reply th {
  width: 100px;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.reply td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.reply tr:nth-child(even) {
  background-color: #dddddd;
}