@charset "UTF-8";

body {
	width: 100%;
	margin: 0px;
}
button {
	width: 150px;
	padding: 10px;
	color: blue;
}
.home-container {
	text-align: center;
}
.banner {
	width: 800px;
	margin: auto;
	margin-top: 30px;
	padding: 10px; 
	color: #fff;
	background-color: #00498c;
}
.example-container {
	width: 800px;
	margin: auto;
}

.example {
	display: inline-block;
	margin: 20px;
}