<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  <typeAliases>
        <typeAlias type="org.doorisopen.myspring.Member.Domain.MemberVO" alias="MemberVO"/> 
        <typeAlias type="org.doorisopen.myspring.Board.Domain.BoardVO" alias="BoardVO"/>
        <typeAlias type="org.doorisopen.myspring.Board.Domain.ReplyVO" alias="ReplyVO"/>
        <typeAlias type="org.doorisopen.myspring.Goods.Domain.GoodsVO" alias="GoodsVO"/> 
  </typeAliases>   
</configuration>
